<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="Dapper" version="2.0.123" targetFramework="net48" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.6" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.5.0" targetFramework="net48" />
  <package id="MediaFoundation" version="2022.1.222" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="Microsoft.Toolkit" version="7.1.2" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.22000.196" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RestSharp" version="106.15.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>